<footer class="footer">
  <div class="container">
    <nav>
      <ul>
        <%# !!!_hardcode %>
        <li><%= current_year %></li>
        <li>Alexander</li>
        <li><%= link_to 'Test Guru', github_url('gitalek', 'test-guru') %></li>
        <li>Description</li>
        <li><%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/' %></li>
      </ul>
    </nav>
  </div>
</footer>
