<footer class="footer">
  <div class="container">
    <nav>
      <ul>
        <%# !!!_hardcode %>
        <li>2020</li>
        <li>Alexander</li>
        <li><%= link_to 'Test Guru', 'https://github.com/gitalek/test-guru' %></li>
        <li>Description</li>
        <li><%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/' %></li>
      </ul>
    </nav>
  </div>
</footer>
